src/test/resources/jsonsanitizer-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:jsonsanitizer="http://www.mulesoft.org/schema/mule/jsonsanitizer"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/jsonsanitizer http://www.mulesoft.org/schema/mule/jsonsanitizer/1.0/mule-jsonsanitizer.xsd">

    <jsonsanitizer:config />
    <flow name="testFlow">
    	<logger message="#['\n' + message + '\n']" level="INFO" doc:name="Logger"/>
    	<logger message="#['\n' + 'before' + '\n'] #[payload + '\n']" level="INFO" doc:name="Logger"/>
        <jsonsanitizer:sanitize doc:name="JsonSanitizer"/>
        <logger message="#['\n' + message + '\n']" level="INFO" doc:name="Logger"/>
        <logger message="#['\n' + 'after' + '\n'] #[payload + '\n']" level="INFO" doc:name="Logger"/>
    </flow>
</mule>